*,
html,
body {
  box-sizing: border-box;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

body {
  font-size: 14px;
  padding: 50px;
}

a { color: #00B7FF; }

/*navbar header*/
#homeLogo {
  height: 48px;
  width: 120px;
}
.navbar-brand {
  padding: 0;
  margin-top: 2px;
}

.footer{
  border-top: 1px solid gray;
  clear: both;
  margin: 30px 0px 0px 0px;

}

.cen-jus {
  text-align: center;
}


.left-jus {
  float: left;
}
