<div class="cen-jus" ng-hide="vm.isLoggedIn()">
  <br>
  <h3>Welcome Friend!</h3>
  <h6>Please call me.</h6>
  <br>
  <p><strong>To maximally enjoy your time at <em>Uncle Derry's Fishin' Friends</em>
      please <a ui-sref-active="active" ui-sref="register">register</a> or login:</strong></p>
  <br>
  <form class="col-md-8" ng-submit="vm.login()">
    <div>
      <label for="inputName">Name</label>
      <input type="text" id="inputName" class="form-control" placeholder="Your Name" ng-model="vm.loginData.name" required />
    </div>
    <div>
      <label for="inputEmail">Email</label>
      <input type="text" id="inputEmail" class="form-control" placeholder="Your Email" ng-model="vm.loginData.email" required />
    </div>
    <div>
      <label for="inputPword1">Password</label>
      <input type="password" id="inputPword1" class="form-control" placeholder="Your Password" ng-model="vm.loginData.password" required />
    </div>
    <button class="btn btn-success" type="submit">Login!</button>
  </form>

</div>

<div class="container cen-jus" ng-show="vm.isLoggedIn()">
  <h3>Welcome {{vm.currentUser.name}}!</h3>
  <h6>I'll call you at {{vm.currentUser.phoneNumber}}</h6>
</div>
