<div class="container first">
    <div class="row items-main-container">
      <div class="col-xs-12 col-sm-2 col-md-2 items-left-container">
        <form class="item-form">
          <label class="center-1">Filter By</label><br>
          <label>Search</label>
          <input type="search" class="form-control form-group" ng-model="itemCtrl.search" placeholder="search...">
          <fieldset class="form-group">
            <label for="repeatColor">Color</label>
            <!-- ng-model on itemCtrl.colorselect takes the value of the option -->
            <select class="form-control" id="repeatColor" ng-model="itemCtrl.colorSelect">
              <option value="" selected>All</option>
              <option ng-repeat="color in itemCtrl.uniqueColors" value="{{color}}">{{color}}</option>
            </select>
          </fieldset>
          <fieldset class="form-group">
            <label for="repeatManu">Manufacturer</label>
            <select class="form-control" id="repeatManu" ng-model="itemCtrl.manuSelect">
              <option value="" selected>Select manufacturer</option>
              <option ng-repeat="man in itemCtrl.uniqueMans" value="{{man}}">{{man}}</option>
            </select>
          </fieldset>
          <fieldset class="form-group">
            <label for="repeatType">Type</label>
            <select class="form-control" id="repeatType" ng-model="itemCtrl.typeSelect">
              <option value="" selected>Select Type</option>
              <option ng-repeat="type in itemCtrl.uniqueType" value="{{type}}">{{type}}</option>
            </select>
          </fieldset>
          <!-- use of ng options  -->
          <fieldset class="form-group">
            <label for="repeatPhoneModel">Phone Model</label>
            <select class="form-control nullable" id="repeatPhoneModel" ng-options="phoneModel for phoneModel in itemCtrl.uniquePhoneModels" ng-model="itemCtrl.phoneModelSelect">
              <option value="" >Select Model</option>
            </select>
          </fieldset>
          <fieldset class="form-group">
            <label for="repeatItem">Price</label>
            <select class="form-control nullable" id="repeatItem" ng-options="price for price in itemCtrl.uniquePrices" ng-model="itemCtrl.priceSelect">
              <option value="" selected>Select price</option>
            </select>
          </fieldset>
        </form>

        <!-- Add item form -->
        <div class="item-left-container-2">
          <form class="item-form text-primary" id="new-item" name="itemCtrl.form" ng-submit="itemCtrl.postItem()">
            <label class="center-2">Add Item</label><br>
            <div class="form-group">
              <label for="add-category">Category</label>
              <select class="form-control" name="item[category]" id="add-category" ng-model="itemCtrl.newItem.category" required>
                <option value="" disabled selected>Select Category</option>
                <option value="Phone Cases" >Phone Cases</option>
                <option value="Screen Protectors" >Screen Protectors</option>
                <option value="Car Chargers" >Car Chargers</option>
              </select>
            </div>
            <div class="form-group">
              <label for="add-model">Phone Model</label>
              <input class="form-control" type="text" name="item[model]" id="add-model" placeholder="iphone, galaxy note" ng-model="itemCtrl.newItem.phoneModel" required>
            </div>
            <div class="form-group">
              <label for="add-manu">Manufacturer</label>
              <input class="form-control" type="text" name="item[manufacturer]" id="add-manu" placeholder="Wdi, Casegalaxy ..." ng-model="itemCtrl.newItem.manufacturer" required>
            </div>
            <div class="form-group">
              <label for="add-type">Type</label>
              <input class="form-control" id="add-type" type="text" name="item[type]" placeholder="Bumper Tpu, Hybrid ..." ng-model="itemCtrl.newItem.type" required>
            </div>
            <div class="form-group">
              <label for="add-color">Color</label>
              <input class="form-control" id="add-color" type="text" name="item[color]" placeholder="Red, Green, Blue ..." ng-model="itemCtrl.newItem.color" required>
            </div>
            <div class="form-group">
              <label for="add-price">Price</label>
              <input class="form-control" id="add-price" type="number" name="item[price]" placeholder="ex. 9.99" ng-model="itemCtrl.newItem.price" required>
            </div>
            <div class="form-group">
              <label for="add-picture">Picture Url</label>
              <input class="form-control" id="add-picture" type="url" name="item[picture]" placeholder="https://" ng-model="itemCtrl.newItem.picture" required>
            </div>
            <div class="form-group">
              <button class="form-control btn-success" type="submit">Submit</button>
            </div>
            <div class="form-group">
              <input class="form-control btn-primary" type="reset" value="Reset" >
            </div>
          </form>
        </div>
      </div>
   <!-- items container -->
      <div class="col-xs-6 col-sm-5 col-md-3 center" id="" ng-repeat="item in itemCtrl.items | filter: itemCtrl.search | filter:{color: itemCtrl.colorSelect, manufacturer: itemCtrl.manuSelect, type: itemCtrl.typeSelect, phoneModel: itemCtrl.phoneModelSelect, price: itemCtrl.priceSelect}">
          <ul id="">
            <div class="item-boxes" ng-hide="editShow">
              <li class="item">
                <a><img class="item-list-photos" ng-src="{{item.picture}}"></a>
              </li>
              <li class="item item-model">
                {{item.phoneModel}}
              </li>
              <li class="item">
                <small>{{item.manufacturer}}</small>
              </li>
              <li class="item item-price">
                <strong>{{item.price | currency}}</strong>
              </li>
              <li class="item">
                <a href="" class="item-links" ng-click="itemCtrl.deleteItem(item._id)">
                  <i class="fa fa-trash-o fa-fw"></i>
                </a>
                <a href="" class="item-links" ng-click="editShow=true">
                  <i class="fa fa-pencil-square-o fa-fw"></i>
                </a>
              </li>
              <ngcart-addtocart id="{{item._id}}" name="{{item.phoneModel}}" price="{{item.price}}" quantity="1" template-url="bower_components/ngCart/template/ngCart/addtocart.html" data="item">ADD</ngcart-addtocart>

            </div>
            <div class="" ng-show="editShow">
              <form id="edit-form" ng-submit="itemCtrl.updateItem(item._id)">
                <li class="item">
                  <a><img class="item-list-photos" ng-src="{{item.picture}}"></a>
                </li>
                <li class="item item-model">
                  <input class="edit-box" type="text" name="itemName" placeholder="{{item.phoneModel}}" ng-model="itemCtrl.editItem.model" />
                </li>
                <li class="item">
                  <input class="edit-box" type="text" name="itemManu" placeholder="{{item.manufacturer}}" ng-model="itemCtrl.editItem.manufacturer" />
                </li>
                <li class="item item-price">
                  <input class="edit-box" type="number" name="itemPrice" placeholder="{{item.price | currency}}" ng-model="itemCtrl.editItem.price" />
                </li>
                <li class="item">
                  <button class="btn btn-success btn-xs top" type="submit" >Save</button>
                  <button class="btn btn-warning btn-xs top" ng-click="editShow=false; itemCtrl.resetEditForm()">Cancel</button>
                </li>
              </form>
            </div>
          </ul>
      </div>
    </div>
</div>
