<div class="container first">
    <div class="row">
      <div class="col-md-2 items-left-container">
      <form>
      <label>Search</label>
      <input type="search" class="form-control form-group" ng-model="vm.search" placeholder="search...">
        <fieldset class="form-group">
          <label for="repeatColor">Color</label>
          <!-- ng-model on vm.colorselect takes the value of the option -->
          <select class="form-control" id="repeatColor" ng-model="vm.colorSelect">
            <option value="" selected>All</option>
            <option ng-repeat="color in vm.uniqueColors" value="{{color}}">{{color}}</option>
          </select>
        </fieldset>
        <fieldset class="form-group">
          <label class="form-group" for="repeatManu">Manufacturer</label>
          <select class="form-control" id="repeatManu" ng-model="vm.manuSelect">
            <option value="" selected>Select manufacturer</option>
            <option ng-repeat="man in vm.uniqueMans" value="{{man}}">{{man}}</option>
          </select>
        </fieldset>
        <fieldset class="form-group">
          <label for="repeatType">Type</label>
          <select class="form-control" id="repeatType" ng-model="vm.typeSelect">
            <option value="" selected>Select Type</option>
            <option ng-repeat="type in vm.uniqueType" value="{{type}}">{{type}}</option>
          </select>
        </fieldset>
        <!-- use of ng options  -->
        <fieldset class="form-group">
          <label for="repeatPhoneModel">Phone Model</label>
          <select class="form-control nullable" id="repeatPhoneModel" ng-options="phoneModel for phoneModel in vm.uniquePhoneModels" ng-model="vm.phoneModelSelect">
            <option value="" >--Select Model--</option>
          </select>
        </fieldset>
        <fieldset class="form-group">
          <label for="repeatItem">Price</label>
          <select class="form-control nullable" id="repeatItem" ng-options="price for price in vm.uniquePrices" ng-model="vm.priceSelect">
            <option value="" selected>Select price</option>
          </select>
        </fieldset>

      </form>


      </div>
      <div class="col-md-10" id="items-right-container">
        <ul class="items-container">
          <li class="item item-boxes" ng-repeat="item in vm.items | filter: vm.search | filter:{color: vm.colorSelect, manufacturer: vm.manuSelect, type: vm.typeSelect, phoneModel: vm.phoneModelSelect, price: vm.priceSelect}">
            <ul id="items">
              <div>
                <li class="item item-photos-li">
                  <a><img id="item-list-photos" ng-src="{{item.picture}}"></a>
                </li>
                <li class="item item-model">
                  <strong>{{item.phoneModel}}</strong>
                </li>
                <li class="item item-price">
                  <em>{{item.price}}</em>
                </li>
                <li class="item item-manufacturer">
                  {{item.manufacturer}}
                </li>
                <li class="item buttons-li">
                  <button class="btn btn-danger btn-xs" ng-click="vm.deleteItem(item._id)">X</button>
                  <button class="btn btn-warning btn-xs" ng-click="">Edit</button>
                </li>
              </div>
            </ul>
          </li>
        </ul>
      </div>
    </div>

</div>
