<div class="cen-jus">
  <br>
  <h3>Get The Newest Releases</h3>
  <h4>Sign Up Now</h4>
  <br>
  <form ng-submit="vm.createUser()">
    <div class="row form-cols">
      <label for="inputName" class="left-jus col-lg-offset-2">Name</label>
      <div class="form-group col-lg-8 col-lg-offset-2">
        <input type="text" id="inputName" class="form-control" placeholder="Full Name" ng-model="vm.userData.name" />
      </div>
    </div>
    <div class="row form-cols">
      <label for="inputEmail" class="left-jus col-lg-offset-2">Email</label>
      <div class="form-group col-lg-8 col-lg-offset-2">
        <input type="text" id="inputEmail" class="form-control" placeholder="Email" ng-model="vm.userData.email" required />
      </div>
    </div>
    <div class="row form-cols">
      <label for="inputPword" class="left-jus col-lg-offset-2">Password</label>
      <div class="form-group col-lg-8 col-lg-offset-2">
        <input type="password" id="inputPword" class="form-control" placeholder="Password" ng-model="vm.userData.password" required />
      </div>
      <div class="submit-buttons col-lg-8 col-lg-offset-2">
        <button class="btn btn-success form-control" type="submit">Submit</button>
      </div>
    </div>
  </form>

</div>
